section.movie {
  max-width: 930px;
  padding-top: 50px;
  margin: 0 auto;
  padding-bottom: 50px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.movie__name {
  display: block;
  font-size: 30px;
  margin-bottom: 15px;
  font-weight: bold;
}

.movie__location {
  display: block;
  color: rgba(0, 0, 0, 0.5);
}

.movie__slider {
  height: 300px;
  margin-top: 30px;
}

@media (max-width: 1000px) {
  section.movie {
    padding-top: 30px;
    padding-bottom: 0;
  }
  .movie__name {
    text-align: center;
    font-size: 25px;
  }
  .movie__location {
    text-align: center;
  }
}

.posts {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}

.post__toggle {
  margin-bottom: 25px;
}

.post__toggle span {
  padding: 0 10px;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.5);
  font-size: 16px;
}

.post__toggle span:first-child {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  padding-left: 0px;
}

.post__toggle span.selected {
  color: black;
}
