.profile {
  max-width: 930px;
  margin: 0 auto;
  padding: 50px 0px;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.profile__columns {
  width: 100%;
  display: flex;
  align-items: center;
}

.profile__column {
  max-width: 300px;
}

img.profile__pic {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: white;
  margin-right: 40px;
}

.profile__name {
  font-size: 30px;
  display: flex;
  align-items: center;
}

.profile__setting {
  font-size: 25px;
  margin-left: 10px;
  cursor: pointer;
  margin-top: 2.5px;
}

.profile__count {
  margin-top: 20px;
  font-size: 16px;
}

.profile__count span {
  margin-right: 10px;
}

.profile__introduce {
  margin-top: 20px;
  font-size: 16px;
}

@media (max-width: 1000px) {
  .profile {
    padding: 30px 0;
  }
  .profile__columns {
    justify-content: center;
  }
  .profile__column {
    max-width: 150px;
  }
  img.profile__pic {
    width: 120px;
    height: 120px;
    margin-right: 30px;
  }
  .profile__name {
    font-size: 25px;
  }
  .profile__setting {
    font-size: 20px;
  }
  .profile__count {
    font-size: 15px;
  }
  .profile__introduce {
    font-size: 15px;
  }
  .profile__introduce {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.setting__title {
  display: block;
  font-size: 25px;
  text-align: center;
  margin-bottom: 20px;
}

.setting {
  width: 300px;
  height: 420px;
  padding: 15px 20px;
  background-color: white;
  border-radius: 5px;
}

.input__label {
  display: block;
  margin-bottom: 10px;
}

.setting__form .input {
  margin-bottom: 10px;
}

.setting__close {
  font-size: 25px;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 100;
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 20px;
  margin-top: 15px;
  cursor: pointer;
}
