.post {
  max-width: 930px;
  margin: 0 auto;
  padding: 30px 0px;
}

.post__toggle span {
  padding: 0 10px;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.5);
}

.post__toggle span.selected {
  color: black;
}

.post__toggle span:first-child {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  padding-left: 0px;
}

@media (max-width: 1000px) {
  .post__toggle {
    text-align: center;
    font-size: 15px;
  }
}

.posts {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
}
