section.profile {
  max-width: 930px;
  margin: 0 auto;
  padding: 50px 0px;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

section.profile-post {
  max-width: 930px;
  margin: 0 auto;
  padding: 30px 0px;
}

.tab-toggle {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.5);
}

.tab-toggle svg {
  fill: rgba(0, 0, 0, 0.5);
}

.tab-toggle svg:first-child {
  margin-bottom: 1px;
}

.tab-toggle li {
  cursor: pointer;
  padding: 0 10px;
  display: flex;
  align-items: center;
}

.tab-toggle li.selected {
  color: #212529;
}

.tab-toggle li.selected svg {
  fill: #212529;
}

.tab-toggle li span {
  margin-left: 5px;
}

.tab-toggle__container {
  display: flex;
  align-items: center;
}

.tab-toggle__container li:first-child {
  padding-left: 0;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.tab-toggle > li {
  padding-right: 0;
}

.tab-content {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  display: none;
}

.tab-content.selected {
  display: flex;
}

.poster {
  width: 23.5%;
  max-height: 310px;
  margin-right: 2%;
  margin-bottom: 2%;
  overflow: hidden;
  cursor: pointer;
}

.poster:nth-child(4n) {
  margin-right: 0;
}

.poster__img {
  width: 100%;
  opacity: 0.5;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.poster__img.selected {
  opacity: 1;
}

.noPhoto-message {
  font-size: 16px;
}

@media (max-width: 1000px) {
  .tab-toggle {
    justify-content: center;
  }
  .tab-toggle__container li {
    border-right: 1px solid rgba(0, 0, 0, 0.1);
  }
  .tab-toggle > .tab-toggle li {
    border-right: none;
  }
  .noPhoto-message {
    width: 100%;
    font-size: 15px;
    text-align: center;
  }
}

@media (max-width: 640px) {
  .poster {
    width: 32%;
    margin-right: 2%;
    margin-bottom: 2%;
  }
  .poster:nth-child(4n) {
    margin-right: 2%;
  }
  .poster:nth-child(3n) {
    margin-right: 0;
  }
}
