.nav {
  background-color: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.0975);
  position: fixed;
  width: 100%;
  z-index: 101;
  top: 0;
}

.nav__cols {
  height: 70px;
  max-width: 990px;
  margin: 0 auto;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: height 0.3s ease-in-out;
}

.nav__cols--scroll {
  height: 50px;
}

.nav__col:first-child {
  width: 200px;
}

.nav__col:last-child {
  width: 200px;
  display: flex;
  justify-content: flex-end;
}

.search-icon {
  display: none;
}

.nav__logo {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.5);
}

.nav__logo a {
  text-decoration: none;
  color: inherit;
}

.nav__search {
  width: 230px;
}

.nav__menu svg {
  cursor: pointer;
  width: 25px;
  height: 25px;
  fill: rgba(0, 0, 0, 0.5);
}

.nav__menu svg {
  margin-left: 25px;
}

.nav__menu a:first-child {
  margin: 0;
}

.nav__search-container {
  display: block;
  height: 40px;
  transition: all 0.5s ease-in-out;
}

.nav__search-container.nav__search-container--none {
  display: none;
}

@media (max-width: 640px) {
  .nav__cols {
    padding: 0 20px;
  }
  .nav__col:first-child {
    width: 100px;
  }
  .nav__search {
    display: none;
  }
  .search-icon {
    display: inline-block;
  }
  .nav__menu svg {
    margin-left: 20px;
  }
  .nav__search-container .nav__search {
    display: block;
    padding: 0 20px;
    width: 100%;
  }
}
