section.login {
  max-width: 930px;
  margin: 0 auto;
}

.login__wrapper {
  height: 420px;
  background-color: white;
  max-width: 350px;
  margin: 0 auto;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  position: relative;
}

.login__logo {
  width: 190px;
}

.login__form {
  max-width: 250px;
  margin: 0 auto;
}

.login__form .input {
  margin-bottom: 10px;
}

.login__divider {
  max-width: 250px;
  margin: 20px auto;
  color: rgba(0, 0, 0, 0.5);
  position: relative;
}

.login__divider::after {
  content: "";
  width: 40%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 8px;
  right: 1px;
}

.login__divider::before {
  content: "";
  width: 40%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 8px;
  left: 1px;
}

.login__toggle,
.signup__toggle {
  background-color: white;
  max-width: 350px;
  height: 60px;
  margin: 20px auto;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login__toggle a,
.signup__toggle a {
  margin-left: 5px;
  color: #3897f0;
}

section.signup {
  max-width: 930px;
  margin: 0 auto;
  display: none;
}

.signup__wrapper {
  height: 460px;
  background-color: white;
  max-width: 350px;
  margin: 0 auto;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  position: relative;
}

@media (max-width: 640px) {
  section.login,
  section.signup {
    margin: 0 5%;
  }
}
