section.post {
  max-width: 930px;
  margin: 0 auto;
  padding: 30px 0px;
}

.post__tabs {
  display: flex;
  justify-content: space-between;
}

.post__tab {
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  font-size: 16px;
  padding: 0 10px;
}

.post__tab--selected {
  color: black;
}

.post__tab-conatainer {
  display: flex;
}

.post__tab:first-child {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  padding-left: 0px;
}

.post__tabs > .post__tab {
  padding-right: 0;
}

@media (max-width: 1000px) {
  .post__tabs {
    justify-content: center;
  }
  .post__tab {
    border-right: 1px solid rgba(0, 0, 0, 0.1);
  }
  .post__tabs > .post__tab {
    border-right: none;
  }
}

.tab__content {
  margin-top: 30px;
  display: none;
}

.tab__content--selected {
  display: flex;
  flex-wrap: wrap;
}

.badge {
  width: 23.5%;
  max-height: 310px;
  margin-right: 2%;
  margin-bottom: 2%;
  overflow: hidden;
  cursor: pointer;
}

.badge:nth-child(4n) {
  margin-right: 0;
}

.badge__img {
  width: 100%;
  opacity: 0.5;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.badge__img.selected {
  opacity: 1;
}

@media (max-width: 640px) {
  .badge {
    width: 32%;
    margin-right: 2%;
    margin-bottom: 2%;
  }
  .badge:nth-child(4n) {
    margin-right: 2%;
  }
  .badge:nth-child(3n) {
    margin-right: 0;
  }
}

.modal .feed__card {
  background-color: white;
}
