.input {
  display: block;
  width: 100%;
  border-radius: 5px;
  padding: 5px 10px;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.01);
  font-size: 14px;
}

.input:focus {
  outline: none;
  box-shadow: 0 0 0 0.1pt rgba(0, 0, 0, 0.5);
}

.input:hover {
  box-shadow: 0 0 0 0.1pt rgba(0, 0, 0, 0.5);
}

.submit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #3897f0;
  border: 1px solid #3897f0;
  border-radius: 4px;
  color: #fff;
  font-size: 14px;
  height: 30px;
  cursor: pointer;
}

.submit:hover {
  background-color: #2286e4;
  border: 1px solid #3897f0;
}

.submit.submit--naver {
  max-width: 250px;
  margin: 0 auto;
  background-color: #00c640;
  border: 1px solid #00c640;
}

.submit.submit--naver:hover {
  background-color: #00af37;
  border: 1px solid #00af37;
}
