.feed__card {
  max-width: 600px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 50px;
  border-radius: 5px;
  background-color: white;
  position: relative;
}

.card__close {
  font-size: 25px;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 100;
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 20px;
  margin-top: 15px;
  cursor: pointer;
  display: none;
}

.modal .card__close {
  display: block;
}

.card__header {
  height: 60px;
  padding: 15px;
  display: flex;
  align-items: center;
}

.card__header-img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin-right: 10px;
  border: 0.1px solid rgba(0, 0, 0, 0.1);
}

.card__img {
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.card__footer {
  min-height: 110px;
  padding: 10px 15px;
}

.footer__rating {
  display: flex;
  align-items: center;
}

.footer__rating span {
  font-size: 16px;
  padding: 0px 5px;
}

.rating__up {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.rating__up svg {
  margin-bottom: 3px;
  fill: rgba(0, 0, 0, 0.5);
}

.rating__up.selected svg {
  fill: black;
}

.rating__up svg:hover {
  fill: black;
}

.footer__movie {
  margin-top: 5px;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.5);
}

.footer__message {
  margin: 15px 0;
}

@media (max-width: 1000px) {
  .feed__card {
    margin: 0 auto;
    margin-bottom: 50px;
  }
  .feed__toggle {
    width: 600px;
    margin: 0 auto;
    margin-bottom: 25px;
  }
}

@media (max-width: 640px) {
  section.feed {
    padding-top: 0;
  }
  .feed__card {
    border: none;
    background-color: #f9f9f9;
    margin-bottom: 0;
  }
  .feed__toggle {
    display: none;
  }
  .card__img {
    border: none;
  }
}
